/* ye wala code "css load generator" nam ki website se copy-paste kar rakha hai */
/* for code of any typr of dpinner just copy code from above website */
.spinner {
    width: 56px;
    height: 56px;
    border: 11.2px #474bff double;
    border-left-style: solid;
    border-radius: 50%;
    animation: spinner-aib1d7 0.75s infinite linear;
 }
 
 @keyframes spinner-aib1d7 {
    to {
       transform: rotate(360deg);
    }
 }